<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">HJEffect</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">A complete fake website v8</h1>
    <p class="lead">No buttons make any effects here. This website is just here to see effect of loading on actual performance. Does loading hotjar in header or dynamically change something ? Let's test it.</p>
    <table>
      <tr>
        <th>Configuration</th>
        <th>Speed Index</th>
      </tr>
      <tr>
        <td>InlineSVG,FOUT,noHotJar</td>
        <td>8000</td>
      </tr>
      <tr>
        <td>InlineSVG,FOUT,Hotjar Dynamic</td>
        <td>5.727</td>
      </tr>
      <tr>
        <td>InlineSVG,FOUT,Hotjar Static</td>
        <td>5.717</td>
      </tr>
      <tr>
        <td>OutlineSVG,FOUT,NoHotjar</td>
        <td>8500</td>
      </tr>
      <tr>
        <td>OutlineSVG,LazyLoadImg,FOUT,NoHotjar</td>
        <td>5100</td>
      </tr>
      <tr>
        <td>FOIT</td>
        <td>??</td>
      </tr>
    </table>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("hero.svg") }) %>

      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("fse.svg") }) %>
      
      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("other-pe.svg") }) %>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("logo-svg-pe.svg") }) %>

      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("clara.svg") }) %>
      
      <h4>Subheading</h4>
      <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data: { "src" => image_path("ue.svg") }) %>
    </div>
  </div>

  <footer class="footer">
    <p>© Company 2017</p>
  </footer>

</div>
